defaults
auth on
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile ~/.msmtp.log
auto_from off
set_from_header on

account default
host SMTP_SERVER
port 587
from from_you@email.com
user YOUR_LOGIN(user@email.com)
password YOUR_PASSWORD
